<h2>Edit company</h2>

<%= render "form.html", changeset: @changeset,
                        action: company_path(@conn, :update, @company), terms: @terms %>

<%= link "Back", to: company_path(@conn, :index) %>
