<h2>New sale invoice</h2>

<%= render "form.html", changeset: @changeset,
                        action: sale_invoice_path(@conn, :create),
                        companies: @companies, contacts: @contacts, terms: @terms, payments: @payments %>

<%= link "Back", to: sale_invoice_path(@conn, :index) %>
